@import './base.css';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 350;
  line-height: 42px;
  font-size: 42px;
  color: #ffffff;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  font-size: 20px;
}

a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #eb240c;
}
